<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <form action="/login" method="post">
      <div class="errors">
        {{#errors}}
        <p>{{.}}</p>
        {{/errors}}
      </div>
      <input id="username" type="text" name="username" placeholder="Enter Username"><br>
      <input id="password" type="password" name="password" placeholder="Enter Password"><br>
      <button id="submit-button" type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
